<div class="title-container">
    <h1 class="pounce-title" ng-class="{ animated: popIn }">
        <span class="letter red" style="--i:0">P</span> <!--style="--i" is a delay index for animation timing-->
        <span class="letter yellow" style="--i: 1">O</span>
        <span class="letter blue" style="--i: 2">U</span>
        <span class="letter green" style="--i: 3">N</span>
        <span class="letter orange" style="--i: 4">C</span>
        <span class="letter purple" style="--i: 5">E</span>
        <span class="letter red" style="--i: 6">!</span>
    </h1>
</div>